/* Partners Section */

@media (min-width: 768px) {
	.seven-cols .col-md-1,
	.seven-cols .col-sm-1,
	.seven-cols .col-lg-1  {
	width: 100%;
	}
}
@media (min-width: 992px) {
	.seven-cols .col-md-1,
	.seven-cols .col-sm-1,
	.seven-cols .col-lg-1 {
	width: 14.285714285714285714285714285714%;
	}
}
@media (min-width: 1200px) {
	.seven-cols .col-md-1,
	.seven-cols .col-sm-1,
	.seven-cols .col-lg-1 {
	width: 14.285714285714285714285714285714%;
	}
}
.partners {
	margin-top: 10px;
	margin-bottom: 10px;
}
.partner {
}
div.partner-icon {
	height: 162px;
	position: relative;
	margin-bottom: 20px;
}
a.partner-icon {
	position: absolute;
	bottom: 0;
}
.partner-text {
	font-size: 13px;
	line-height: 21px;
	margin-top: 0px;
	margin-bottom: 40px;
}


.docname { font-weight: 900; padding-top: 0px; }
.docinfo { padding-bottom: 40px; padding-left: 40px; }
.title { font-size: 24px; padding-top: 40px; padding-bottom: 20px; }
.wp { font-weight: 400; padding-bottom: 10px;  border-bottom: 1px solid grey; }
.rp1 { font-size: 10px; background-color: #00A960; font-weight: 900; color: white; }
.rp2 { font-size: 10px; background-color: #FF8400; font-weight: 900; color: white; }
